.img-roboime {
max-width: auto; /* or to whatever you want here */
max-height: 200px; /* or to whatever you want here */
}
.member {
    position: relative;
    height: 180px;
    box-shadow: 0 1px 2px #888;
    background-color: #EEE;
    border-radius: 3px;
}
.pages_team #main {
    background-color: #EEE;
}
.pages_team .member-container {
    margin-top: 25px;
}
.vertical-align {
    display: inline-block;
  vertical-align: middle;
}
.img-roboime2 {
  vertical-align: middle;
  horizontal-align: middle;
  align-items: center;
}
.button-member {
  position:absolute;
  bottom:0;
  margin:12px;
  right: 0;
}
